.carousel {
    position: relative;
    width: 110%; /* Full-width carousel */
    height: 100px; /* Adjust based on image height */
    overflow: hidden; /* Hide images outside the container */
    border-style: solid;
    border-width: 2px;
    animation: pulseGlow 2s infinite alternate, fadeIn 3s;
  }
  
    @keyframes pulseGlow {
      0% {
        box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98;
      }
      50% {
        box-shadow: 0 0 10px 5px #98ff98, 0 0 15px 10px #98ff98, 0 0 20px 15px #98ff98;
      }
      100% {
        box-shadow: 0 0 5px 0 #98ff98, 0 0 10px 0 #98ff98, 0 0 15px 0 #98ff98;
      }
    }
  
  
  .carousel-image {
    gap: 15px;
    position: absolute;
    width: 100px; /* Image width */
    height: 100px; /* Image height */
    object-fit: cover;
    opacity: 0; /* Start fully transparent */
    animation: slide 8s linear infinite; /* Apply sliding animation */
  }
  
  /* Apply staggered animation delays */
  .position1 {
    animation-delay: 0s;
  }
  .position2 {
    animation-delay: 2s;
  }
  .position3 {
    animation-delay: 4s;
  }
  .position4 {
    animation-delay: 6s;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(calc(-120% - 100px)); /* Start off-screen with gap */
      opacity: 0; /* Fully transparent */
    }
    10% {
      opacity: 1; /* Fade in */
    }
    50% {
      transform: translateX(calc(50% + 120px)); /* Add gap in the middle */
      opacity: 1; /* Fully visible */
    }
    90% {
      opacity: 0; /* Fade out */
    }
    100% {
      transform: translateX(calc(200% + 140px)); /* Exit off-screen with gap */
      opacity: 0; /* Fully transparent */
    }
  }
  