.cardcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal-width columns */
    grid-auto-rows: auto; /* Automatically adjusts row height */
    gap: 90px; /* Space between cards */
    margin: auto;
    max-width: 800px; /* Adjust as needed for spacing */
    padding: 20px;
    transform: translatex(-30px);
  }
  
  .card {
    display: flex;
    flex-direction: column; /* Ensures contents inside the card stack properly */
    justify-content: space-between;
    align-items: center;
    height: 180px; /* Adjust card height */
    width: 180%; /* Ensures it fits within the grid cell */
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -0.5rem 0 1rem #99fd99;
    transition: 0.4s ease-out;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .title {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    position: absolute;
    font-family: "Martian Mono", monospace; 
  }
  
  .bar {
    position: absolute;
    top: 80px;
    left: 25px;
    height: 5px;
    width: 100px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgb(7, 217, 0) 0%, rgb(14, 217, 0) 65%, rgb(34, 255, 0) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
  }
  
  .level {
    font-family: "Martian Mono", monospace; 
    font-size: 0.8rem;
    opacity: 0;
    margin-top: 35%;
    transition: color 0.4s ease-out; 
  }
  
  .card:hover .level {
    opacity: 1;
  }
  
  .level.advanced {
    color: #34eb40; 
  }
  
  .level.proficient {
    color: #00d5ff; 
  }
  
  .level.intermediate {
    color: #f7d31b; 
  }
  
  .level.beginner {
    color: #ff6b6b; 
  }
  
  .filledbar.advanced {
    background: linear-gradient(90deg, #34eb40 0%, #0fa30f 65%, #007500 100%);
  }
  
  .filledbar.proficient {
    background: linear-gradient(90deg, #00d5ff 0%, #0078b8 65%, #004080 100%);
  }
  
  .filledbar.intermediate {
    background: linear-gradient(90deg, #f7d31b 0%, #d7a312 65%, #a8790b 100%);
  }
  
  .filledbar.beginner {
    background: linear-gradient(90deg, #ff6b6b 0%, #d14141 65%, #a82020 100%);
  }
  
  .L-icon {
    margin-top: 5%;
    height: 8vh;
  }
  
  